<!doctype html>
<html lang="sv">
<head>
	<meta charset='UTF-8'>
	<link href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' rel='stylesheet'>
	<link href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css' rel='stylesheet'>
	<title>Resultat</title>
</head>
<body>

	<div class='container'>

		<h1 class='page-header'>Resultat</h1>
			
			<p>
				<small> Antal studenter: <span id="studentCount">$count$</span></small>
			</p>
			
			<p>
				<small> Medelvärde för antal kommentarer per elev: <span id="commentAverage">$averageComments$</span></small>
			</p>
			<p>
				<small> Medelvärde för rader kod per elev: <span id="rowAverage">$averageRows$</span> </small>
			</p>

			<div class="row">
				<h2>Värden</h2>
				$map:{
				<div class="col-md-4" id="$error.type$">
					<h5> $error.type$ </h5>
					<p>
						Avvikelse: $error.avvikelse$
						<br>
						Medelvärde: $error.medelvarde$
					</p>
				</div>
				}allErrors$
			</div>

			<div class='row'>
				
				<h2>Individuella resultat</h2>

				$map:{
					<div class='col-md-4' id="$result.name$">
						<h3> $result.name$ <small>
						Lines of code: <span class="lineCount">$result.nrLines$</span> 
						Comment lines: <span class="commentCount">$result.nrComments$</span> </small> </h3>

						$map:{
							<span class="student$error.errorType$">
								<h6>$error.errorType$: <small> $error.freq$ </small></h6>
							</span>
						}result.errors$
					</div>
				} resultsPerStudent$ 

			</div>

		</div>
	</body>
</html>

